*{
    margin: 0;
    padding: 0;
}
.grid-parent{
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(6,1fr);
    gap: 10px;
}
.grid-child{
    background-color: rgb(143, 143, 71);
    color: white;
    text-align: center;
    padding: 20px;
}
.one{
    grid-column: 1/13;
    grid-row: 1;
}
.two{
    grid-column: 1/7;
    grid-row: 2;
}
.three{
    grid-column: 7/13;
    grid-row: 2;
}
.four{
    grid-column: 1/4;
    grid-row: 3;
}
.five{
    grid-column: 4/8;
    grid-row: 3;
}
.six{
    grid-column: 8/13;
    grid-row: 3;
}
.seven{
    grid-column: 1/3;
    grid-row: 4;
}
.eight{
    grid-column: 3/6;
    grid-row: 4;
}
.nine{
    grid-column: 6/9;
    grid-row: 4;
}
.ten{
    grid-column: 9/13;
    grid-row: 4;
}
.eleven{
    grid-column: 1/3;
    grid-row: 5;
}
.twelve{
    grid-column: 3/5;
    grid-row: 5;
}
.thirteen{
    grid-column: 5/7;
    grid-row: 5;
}
.fourteen{
    grid-column: 7/9;
    grid-row: 5;
}
.fifteen{
    grid-column: 9/11;
    grid-row: 5;
}
.sixteen{
    grid-column:11/13;
    grid-row: 5;
}
